body {
    background-color: black;
    color: #fff;
    font-family: "HelveticaNeue-UltraLight",'myfont-ttf','HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 100;
    position: relative;
}